<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	
	<link href="style.css" rel="stylesheet">
	
	<title>Download torrents</title>
	
	<style>
		.card-deck .cw-30 {
		    flex: 1 0 30%;
		    max-width: 30%;
		}
		
		.card-deck .cw-70 {
		    flex: 1 0 70%;
		    max-width: 70%;
		}
	</style>
</head>
<body>

<h2>Latest torrents</h2>

<!-- Container Fluid -->
<div class="container-fluid">

	<!--Card column-->
	<div class="card-columns" id="accordionEx" role="tablist" aria-multiselectable="true">
	  
	<!-- Data collection -->
<%
	for (let i=0; i<latest.length; i++){
		var title       = '';
		var image_url   = 'img/missing_image.png';
		var latest_item = latest[i];
		var item_keys   = Object.keys(latest_item); 
		
		if ( item_keys.includes('imdb') && latest_item['imdb'] ){
			var imdb      = latest_item['imdb'];
			var imdb_keys = Object.keys(imdb); 
			if ( imdb_keys.includes('title') ) {
				title = imdb['title'];
			}
			
			if ( imdb_keys.includes('image') && imdb['image'] != undefined) {
				image_url = imdb['image']['url'];
			}

			if ( imdb_keys.includes('plot') ) {
			    plot = imdb['plot'];
			}

%>

	    <!-- Card Wider -->
		<div class="card card-cascade wider reverse bg-light mb-3" style="max-width: 22rem;">
    	
			<!-- Card header: Title -->
			<div class="card-header" role="tab" id="headingOne1">
				<a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne<%= i+1 %>" aria-expanded="true" aria-controls="collapseOne<%= i+1 %>">
					<h5 class="mb-1"><%= title %></h5>
				</a>
			</div>
	
			<!-- Card body-->
			<div class="card-body card-body-cascade text-center" >
				<!-- Card image -->
				<div class="view view-cascade overlay">
					<img src="<%= image_url %>" alt="Card image cap"" >
					<a>
			      		<div class="mask rgba-white-slight"></div>
			    	</a>
			    	
				</div>
			
				<!-- Nav tabs justify-content-end -->
				<ul class="nav nav-tabs nav-justified">
<%

			if ( item_keys.includes('torrents') ){
				var torrents = latest_item['torrents'];
				var is_active = ' active';
				for (let j=0; j<torrents.length; j++){
					var info = torrents[j];
					var indexer  = '';
				
					// Getting specific torrent information
					var info_keys      = Object.keys(info);
					if ( info_keys.includes('torrent_info') ){
						var t_info     = info['torrent_info'];
						var t_info_keys= Object.keys(t_info);
						var has_season = t_info_keys.includes('season');
						var has_episode= t_info_keys.includes('episode');
						
						// Either it includes date or season/episode
						if (t_info_keys.includes('date') ){
							indexer = t_info['date'];
						}
						else if (has_season || has_episode){
							if (has_season){
								indexer = 'S'+t_info['season'];
							}
							if (has_episode){
								indexer += 'E'+t_info['episode'];
							}
						}
						// there is nothing to reference the torrent!
						else{
							indexer  = 'T0'+(j+1);
						}
					}
					// there is nothing to reference the torrent!
					else{
						indexer  = 'T0'+(j+1);
					}
					
					// Setting first as actie
					if (j > 0)
						is_active = '';

%> 
				<li class="nav-item">
					<a class="nav-link<%= is_active %>" data-toggle="tab" href="#ID<%= i %>_E0<%= j %>"> <%= indexer %></a>
				</li>
<%
				} // for j=0; j<torrents.length
			} // torrents exists
%> 
				</ul>
				<!-- END Nav tabs -->
				
				<!-- Tab content -->
				<div class="tab-content">
<%

			// Assigning data to each navigatino bar
			var is_act = ' active';
			for (let k=0; k<torrents.length; k++){
				var info = torrents[k]
				
				var seeders  = info['seeders'];
				var leechers = info['leechers'];
				var views    = info['views'];
				var size     = info['size'];
				var t_title  = info['title'];
				console.log("== t_title2: "+t_title);
				var magnet   = info['magnet'];
				var file     = info['file'];
				var download = info['download'];
				var galaxy_id= info['galaxy_id'];				
				var imdb_url = 'http://imdb.com/title/'; //+info['url'];
				var info_keys= Object.keys(info);
				
				// getting data from torrent info
				if (info_keys.includes('torrent_info') ){
					var torrent_info = info['torrent_info'];
					var tinfo_keys   = Object.keys(torrent_info);
					
					// getting parsed torrent title
					if (info_keys.includes('title') ){
						t_title      = torrent_info['title'];
					} // torrent info has title
				} // torrent has torrent_info
				console.dir(info);
				console.log("--------------------------------------------------");
				if (k > 0) is_act = '';
%> 
				  <div class="tab-pane container<%= is_act %>" id="ID<%= i %>_E0<%= k %>">
				    <!-- Card content: Name -->
				    <p class="card-title"> 
				    	<div class="border border-light p-3 mb-4">
						    <div class="badge badge-primary text-wrap" style="max-width: 150px;">
							  <%= t_title %> 
							</div>
						</div>
					</p>
						
				    <!-- Card content: Genres -->
				    <p class="card-text"> 
<%
				if ( imdb_keys.includes('genres') && imdb['genres'] != undefined) {
			    	genres = imdb['genres'];
					for (let m=0; m<genres.length; m++){
%> 
				    	<span class="badge badge-info" style="border-radius:4px;" title="size">
				    		<font ><b><%= genres[m] %></b></font>
				    	</span>
<%
					} // for m=0 ; m<genres.length;
				} // genres exists
%>
					</p>
					<!-- END Card content: Genres -->
					
				    <p> 
				    	<span class="badge badge-success" style="border-radius:4px;" title="size">
				    		<font ><b><%= seeders %></b></font>
				    	</span>
				    	/
				    	<span class="badge badge-danger" style="border-radius:4px;" title="size">
				    		<font ><b><%= leechers %></b></font>
				    	</span>
				    </p>
					
				    <!-- Card content: Torrent info -->
				    <p> 
				    	<span class="badge badge-secondary" style="border-radius:4px;" title="views">
				    		<font ><b><%= views %></b></font>
				    	</span>
				    	<span class="badge badge-secondary" style="border-radius:4px;" title="size">
				    		<font ><b><%= size %></b></font>
				    	</span>
				    </p>
				    <hr>
				    
					<div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
					    <ul class="list-unstyled list-inline font-small">
					      <li class="list-inline-item pr-2">
					      	<a class="px-2 fa-lg li-ic" href="<%= magnet %>"><span class="glyphicon glyphicon-magnet"></span></a>
					      </li>
					      <li class="list-inline-item pr-2">
					      	<a class="px-2 fa-lg li-ic" href="<%= file %>"><span class="glyphicon glyphicon-floppy-save"></span></a>
					      </li>
					      <li class="list-inline-item pr-2">
					        <a class="px-2 fa-lg li-ic" href="download"><i class="glyphicon glyphicon-cloud-download"></i></a>
					      </li>
					      <li class="list-inline-item pr-2">
					      	<a class="px-2 fa-lg li-ic" href="<%= imdb_url %>"> <i class="fab fa-imdb"></i></a>
				      	  </li>
					    </ul>
					</div>
				  </div>
<%
			} // k=0;  k<torrents.length
		} // imdb exists
%> 
					</div>
		
        		</div>
				<!-- END Tab content -->

	    </div>
	    <!-- Card Wider -->
<%
				console.log("- - - - - - - - - - - - - - - - - - - - - - - - - ");
	} // for (let i=0; i<latest.length

%>
	
</div>
<!-- Container Fluid -->

</body>
</html> 
